
    <h2 class="title">{{title}}</h2>

    <form
            (ngSubmit)="onSubmit(form)"
            #form="ngForm"
            novalidate
    >
        <div class="item-input-wrap">
            <input type="text"
                   id="inputItem"
                   placeholder="Type name here..."
                   ngModel
                   name="title"
                   required
            >
        </div>
        <button
                [disabled]="!form.form.valid"
                type="submit"
                class="btn form-btn"

        >Add new</button>
    </form>

    <ul
            (click)="listCheck($event)"
            class="items-list"
            *ngIf="items"
    >
        <li  class="item-element"
             *ngFor="let item of items; let i=index"
             (click)="onSelected(item)"
             tabindex
        >
            <div class="element-wrap">
                <a>{{item?.title.length<30 ? item?.title : (item.title.slice(0, 27)+"...")}}</a>
                <small>{{item?.comments.length? item.comments.length : 0}}</small>
                <button
                        class="btn btn-outline-danger"
                        (click)="removeItem(item)"
                >Delete</button>
            </div>

            <hr>
        </li>
    </ul>