
    <h2 class="title">Comments #{{selectedItem?.number}}</h2>
    <ul class="comments-list" *ngIf="selectedItem?.comments">
        <li class="comment-element" *ngFor="let comment of selectedItem.comments; let i = index">
            <div class="avatar-wrap">
                <div
                        class="comment-avatar"
                        [style.backgroundColor]="colorSet(i)"
                >
                </div>
            </div>

            <div class="comment-text-wrap">
                <span class="comment-text" >{{comment?.text}}</span>
            </div>
            <hr>
        </li>
    </ul>

    <form
            class="comment-form"
            (ngSubmit)="onSubmit(form)"
            #form="ngForm"
            novalidate
    >
        <div class="avatar-wrap">
            <button
                    [disabled]="!form.form.valid"
                    type="submit"
                    class="comment-avatar comment-btn"

            ></button>
        </div>

        <div class="comment-text-input" >
            <label for="inputComment"
                   class="sr-only"
            >Comment</label>
            <textarea

                   id="inputComment"
                   ngModel
                   name="text"
                   required
            ></textarea>
        </div>

    </form>


