::-webkit-input-placeholder {
    color : rgb(179, 179, 179);}
::-moz-placeholder          {color : rgb(179, 179, 179);}/* Firefox 19+ */
:-moz-placeholder           {color : rgb(179, 179, 179);}/* Firefox 18- */
:-ms-input-placeholder      {color : rgb(179, 179, 179);}

a{
    cursor: pointer;
}

body{
    min-width: 800px;
    background: #f9f9f9;
    font-family : 'Open Sans', sans-serif;
    font-size : 16px;
}

hr{
    margin: 10px 0 10px 0;
}

.btn.btn-outline-danger{
    min-width:100px;
}

.main-wrap{
    margin-left: 270px;
    padding-top: 30px;
    padding-left: 30px;
}

.form-btn, small{
    background-color: #34C6BB;
    color: #fff;
}

.content-box{
    padding: 20px 30px;
    border: 1px solid #DEDEDE;
    background: #fff;
    border-radius: 5px;
    float: left;
    width: 48%;
    min-width: 410px;
    min-height: 530px;
    margin-right: 2%;
    margin-bottom: 20px;
    height: auto;
    -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.4);
}
.content-box .title{
    margin-bottom: 30px;
    font-weight: 300;
    font-size : 36px;
    color : rgb(86, 90, 105);
}

/*======================================================*/
/* Item-list */

.content-box.item-comments .title{
    margin-bottom: 50px;
}

.content-box.items-list-app form{
    margin-bottom: 20px;
}

.content-box.items-list-app .item-input-wrap{
    float: left;
    width: 62%;
    padding-right: 2%;
    line-height:34px;
}

.content-box.items-list-app .item-input-wrap input{
    border: 1px solid #DEDEDE;
    width: 100%;
    border-radius: 5px;
    padding-left: 15px;
}

.content-box.items-list-app form .form-btn{
    font-size: 16px;
    font-weight: 500;
    width: 38%;
}

.content-box.items-list-app .items-list{
    padding-left: 0;
}

.content-box.items-list-app .items-list .item-element{
    position: relative;
    list-style-type: none;
    min-width: 300px;
}

.content-box.items-list-app .items-list .item-element a:before{
    content: '';
    display: none;
    position: absolute;
    left: -33px;
    top: -8px;
    width:5px;
    height: 55px;
    background-color: rgba(255, 58, 81, 1);
    clear: both;
}

.content-box.items-list-app .items-list .item-element a.active::before{
    display: block;
}

.content-box.items-list-app .items-list .item-element .element-wrap{
    line-height: 38px;
}

.content-box.items-list-app .items-list .item-element a{
    padding-right: 7%;
}

.content-box.items-list-app .items-list .item-element small{
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    padding: 2px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.content-box.items-list-app .items-list .item-element button{
    float: right;
}

.content-box.items-list-app .items-list hr:before{
    content: '';
    display: block;
    clear: both;
}

/*======================================================*/
/* Item details - Comments */


.content-box.item-comments .comments-list{
    padding-left: 0;
}

.content-box.item-comments .comments-list .comment-element{
    list-style-type: none;
    font-size: 0;
}

.avatar-wrap{
    display: inline-block;
    width: 14%;
    vertical-align:top;

}

.comment-avatar{
    height: 50px;
    width: 50px;
    background-color: grey;
    display: inline-block;
    vertical-align:top;

}

.content-box.item-comments .comments-list .comment-element .comment-text-wrap{
    display: inline-block;
    width: 84%;
    line-height: 18px;
    margin-left: 2%;
}

.content-box.item-comments .comments-list .comment-element .comment-text{
    display: inline;
    font-size: 12px;
    color : rgb(102, 102, 102);
    background-color: #F9CBCD;
}


.comment-avatar.comment-btn{
    outline: none;
    border: none;
    cursor: pointer;
    /*display: inline-block;*/

}

.content-box.item-comments .comment-form{
    font-size: 0;
}

.content-box.item-comments .comment-form .comment-text-input{
    display: inline-block;
    width: 83%;
    margin-left: 2%;
}

.content-box.item-comments .comment-form .comment-text-input textarea{
    border: 1px solid #DEDEDE;
    float: right;
    width: 100%;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 12px;
    height: 70px;
}


sidebar-app{
    height: 100%;
    width: 270px;
    z-index: 100;
    padding-top: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #2B2F3E;
    min-width: 210px;
}








